body{
    font-style:italic;
    font-family:'Times New Roman', Times, serif;

}

.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.center-image {
    width: clamp(180px, 35vw, 360px);
    height: auto;
    display: block;

    background-color:lightblue;
    color:darkblue;

}

h1{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    color: blueviolet;

}

