body{
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    background-color:lightblue;
    color:darkblue;
}

h1{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    color: blueviolet;
}