body{
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
     animation-name: colour;
   animation-duration: 4s;

}

.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.center-image {
    width: clamp(180px, 35vw, 360px);
    height: auto;
    display: block;

    background-color:lightblue;
    color:darkblue;

}

h1{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
    color: blueviolet;
    animation:rotate 5s linear infinite;
    

}

@keyframes rotate{
     from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes colour {
  0%   {background-color: rgb(195, 157, 228);}
  25%  {background-color: rgb(234, 149, 149);}
  50%  {background-color: rgb(109, 212, 223);}
  100% {background-color: rgb(249, 184, 113);}
}

p{
    font-size: 40px;
    text-align: center;
}